.swiper {
    overflow: hidden;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
    // align-items: flex-end;
}
.swiper-vertical {
    .swiper-wrapper {
        flex-direction: column;
    }
}
.swiper-autoheight {
    .swiper-wrapper {
        align-items: flex-start;
    }
}
.swiper-initialized {
    .swiper-slide {
        flex-shrink: 0;
        // transition-property: transform;
    }
}
.swiper-android {
    .swiper-slide,
    .swiper-wrapper {
        transform: translate3d(0px, 0, 0);
    }
}
.swiper-button-lock {
    display: none !important;
}

.swiper-button-disabled {
    transition: opacity 0.4s ease 0s;
    opacity: 0.5;
}
.swiper-slide {
    // cursor: pointer;
}

.swiper-slide-next {
    transform: translateX(-127px) scale(0.86);
}

.swiper-pagination-total {
    color: #2f80ed;
}
