.checkbox {
    position: relative;
    &:not(:last-child) {
        margin-bottom: em(5);
    }
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus + .checkbox__label:before {
            box-shadow: 0 0 5px $mainColor;
        }
        &:checked + .checkbox__label:before {
            background: #2f80ed;
            content: "\e907";
            @extend %ic;
            font-size: 9px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;
        justify-content: center;
        gap: 10px;
        &:before {
            content: "";
            // align-self: center;
            border-radius: 6px;
            flex: 0 0 18px;
            width: 18px;
            height: 18px;
            border: 1px solid #2f80ed;
        }
    }
    // .checkbox__text
    &__text {
        &_submission-form {
            font-weight: 500;
            font-size: rem(20);
            line-height: math.div(20, 20);
            color: #fcfcfc;
        }
    }
}
