.checkbox {
    position: relative;
    &:not(:last-child) {
        margin-bottom: em(5);
    }
    &_submission-form {
        width: 100%;
        > .checkbox__label {
            width: inherit;
        }
    }
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus + .checkbox__label:before {
            box-shadow: 0 0 5px $mainColor;
        }
        &:checked + .checkbox__label:before {
            background-color: #2f80ed;
            color: rgba($color: #fff, $alpha: 1);
        }
    }
    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        // position: relative;
        justify-content: flex-start;
        gap: 10px;
        &::before {
            content: "\e907";
            @extend %ic;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 6px;
            flex: 0 0 18px;
            font-size: 9px;
            width: 18px;
            height: 18px;
            border: 1px solid #2f80ed;
            color: rgba($color: #fff, $alpha: 0);
        }
    }
    // .checkbox__text
    &__text {
        &_submission-form {
            font-weight: 500;
            font-size: rem(20);
            // line-height: math.div(20, 20);
            text-align: left;
            color: #fcfcfc;
            // width: 100%;
        }
    }
}
