.page {
    &_404 {
    }

    &__404 {
    }
}
.page-404 {
    &__container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        z-index: -1;
    }
}
.button {
    &_primary {
    }
}
