// Заголовки, общие БЄМ блоки и проче...

.title {
    font-weight: 700;
    @include adaptiveValue("font-size", 70, 40);
    line-height: math.div(85, 70);
}
.sub-title {
    font-weight: 600;
    @include adaptiveValue("font-size", 50, 24);
    line-height: math.div(61, 50);
    color: $mCWhite;
    text-align: center;
}

.sub-heading {
    font-weight: 500;
    @include adaptiveValue("font-size", 26, 17);
    line-height: math.div(31, 26);
}

.inner-text-bold {
    font-weight: 700;
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
    display: inline-block;
    &_color_green {
        color: $mCSpan;
        font-size: inherit;
        line-height: inherit;
    }
    &_color_blue {
        color: $mCBlue;
        font-size: inherit;
        line-height: inherit;
    }
}

.list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-case {
    background: $mGradient;
    border-radius: rem(28);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: rem(509);
    min-height: rem(343);
    padding: rem(24) rem(24) rem(22) rem(24);
    height: 100%;
    max-width: rem(412);
    gap: rem(10);
    @media (max-width: $tablet) {
        padding: rem(17) rem(19) rem(15) rem(19);
    }
    &__top {
        width: 100%;
        text-align: center;
    }

    &__image-ibg {
        width: 100%;
        padding-bottom: percent(291, 356);
        border-radius: 14px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__heading {
        font-weight: 500;
        @include adaptiveValue("font-size", 26, 17);
        line-height: math.div(31, 26);
        max-height: rem(100);
        overflow-y: auto;
    }

    &__bottom {
        width: 100%;
        text-align: center;
    }

    &__serial-number {
        line-height: math.div(24, 20);
        color: $mCBlue;
        word-wrap: break-word;
        @media (max-width: $tablet) {
            font-size: rem(13);
        }
    }
}

.card-skill {
    max-width: rem(331);
    min-width: rem(290);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(10);
    overflow: hidden;
    &__body {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: rem(10) rem(5);
        max-width: inherit;
    }

    &__icon {
        display: inline-block;
        max-width: rem(59);
        min-width: rem(47);
        height: auto;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: rem(38);
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    &__heading {
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 28);
        line-height: math.div(44, 36);
        color: $mCWhite;
        word-wrap: break-word;
        width: 100%;
        text-align: center;
        max-height: rem(150);
        overflow-y: auto;
        &:not(:last-child) {
            margin-bottom: em(22, 36);
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: em(18, 36);
            }
        }
    }

    &__description {
        text-align: center;
        word-wrap: break-word;
        line-height: math.div(29, 20);
        color: $mCWhite;
        max-height: rem(220);
        overflow-y: auto;
    }
}

.social-list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(15);
    &_w-220 {
        width: 100%;
        max-width: rem(220);
    }
    &_w-160 {
        width: 100%;
        max-width: rem(160);
    }
    &_fd-column {
        flex-direction: column;
    }
    &__item {
        &_bg {
            flex: 0 0 rem(44);
        }
    }

    &__link {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &::before {
            color: $mCGray;
            font-size: rem(30);
        }
        &_bg {
            height: rem(44);
            border-radius: 12px;
            background-color: #1b2846;
            width: rem(44);
        }
    }
    &__icon {
        max-width: rem(34);
        width: 100%;
        overflow: hidden;
    }
}

.payment-list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(10);
    &_w_217 {
        width: 100%;
        max-width: rem(217);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        max-width: rem(69);
        width: 100%;
        overflow: hidden;
    }
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: rem(135);
    overflow: hidden;
    > img {
        width: 100%;
    }
}

.search-from {
    max-width: rem(737);
    width: 100%;
    background-color: #1b2846;
    border-radius: 16px;
    display: inline-block;
    &__body {
        padding: rem(8) rem(16);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__inner {
        word-wrap: break-word;
        font-weight: 400;
        font-size: rem(22);
        line-height: math.div(33, 22);
        color: #586179;
        position: relative;
        flex: 0 1 100%;
    }
    &__field {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: rem(10);
        width: calc(100% - rem(10));
        height: 100%;
        background-color: transparent;
        transition: box-shadow 0.4s ease 0s;
        border-radius: 16px;
        color: $mainColor;
        &:focus {
            border: none;
            outline: none;
            box-shadow: 0px 0px 10px 1px $mainColor;
            background-color: #1b2846;
        }
    }
}

.submission-form {
    max-width: rem(808);
    padding: rem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        row-gap: rem(23);
        &:not(:last-child) {
            margin-bottom: rem(57);
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: rem(8);
        padding-bottom: rem(18);
        border-bottom: 1px solid $mainColor;
        text-align: left;
    }
    &__label-text {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div(27, 18);
        color: $mCWhite;
    }
    &__field {
        width: inherit;
        background-color: transparent;
        color: $mCWhite;
        transition: box-shadow 0.4s ease 0s;
        border-radius: 0 16px 16px 0;
        &:focus {
            border: none;
            outline: none;
            box-shadow: 0px 0px 10px 1px $mainColor;
        }
    }

    &__button {
        max-width: rem(372);
        padding: rem(calc(48 / 2 - 12)) 0px;
        @media (max-width: $tablet) {
            padding: rem(calc(48 / 2 - 12)) 0px;
        }
    }
}
textarea.submission-form__field {
    resize: none;
}

//
.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inner {
        position: relative;
        width: 100%;
        &_1 {
            text-align: center;
        }
        &_2 {
            transform: translateY(-20%);
            flex: 0 1 rem(460);

            @media (max-width: $tablet) {
                transform: none;
            }
        }
        &_3 {
            flex: 0 1 rem(480);
        }
    }

    &__image {
        width: 100%;

        > path {
            transition: fill 0.4s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    fill: #2c406d;
                }
            }
        }
        &_1 {
            max-width: rem(767);
            width: 100%;
        }
        &_2 {
            max-width: rem(469);
            width: 100%;
        }
        &_3 {
            max-width: rem(486);
            width: 100%;
        }
    }

    &__icon-box {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
        &_2 {
        }
    }
}
.icon-box-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        > .icon-box-map__tooltip {
            visibility: visible;
            opacity: 1;
        }
        > .icon-box-map__name {
            font-size: rem(20);
            background-color: #fff;
        }
        > .icon-box-map__icon {
            transform: translateY(-15px);
        }
    }

    &_1 {
        top: percent(219, 486);
        left: percent(262, 784);
    }
    &_2 {
        top: percent(94, 486);
        left: percent(450, 784);
        z-index: 2;
    }
    &_3 {
        top: percent(5, 280);
        left: percent(295, 507);
        z-index: 2;
    }
    &_4 {
        top: percent(74, 280);
        left: percent(175, 507);
    }
    &_5 {
        top: percent(74, 452);
        left: percent(400, 575);
        z-index: 2;
    }
    &_6 {
        top: percent(24, 452);
        left: percent(220, 575);
    }
    &_7 {
        top: percent(200, 452);
        left: percent(80, 575);
    }

    &__name {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(17, 14);
        color: $mCBlue;
        transform: translate(-50%, 10px);
        padding: rem(10);
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transition: background-color 0.4s ease 0s, font-size 0.4s ease 0s;
    }

    &__icon {
        transition: transform 0.4s ease 0s;
        position: relative;
        z-index: 1;
        cursor: pointer;
        @media (max-width: $tablet) {
            width: rem(114);
            height: rem(114);
        }
    }

    &__tooltip {
        background: #fcfcfc;
        border-radius: 8px;
        padding: rem(8);
        font-size: rem(20);
        line-height: math.div(29, 20);
        color: $mCBg;
        position: absolute;
        top: 100%;
        left: 50%;
        width: rem(380);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(8);
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);
        transition: opacity 1s ease 0s;
        z-index: 10;
        @media (max-width: $tablet) {
            width: rem(280);
            font-size: rem(12);
        }
        &::before {
            color: $mCBlue;
            font-size: rem(20);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: rem(9);
            height: rem(9);
            background-color: #fcfcfc;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}

//

.review {
    max-width: rem(408);
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border-radius: rem(60);
    box-shadow: 0px 0px 30px 15px #192641;
    position: relative;
    border: rem(24) solid #1e2b46;
    text-align: center;
    transition: box-shadow 0.4s ease 0s;
    @media (max-width: $tablet) {
        border: rem(20) solid #1e2b46;
        box-shadow: 0px 0px 24px 12px #192641;
    }
    @media (max-width: $mobileSmall) {
        border: rem(16) solid #1e2b46;
        box-shadow: 0px 0px 10px 6px #192641;
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 0px 30px 15px #1e3566;

            .review__panel {
                bottom: 0;
                transition: bottom 0.7s ease 0s;
            }
        }
    }
    @media (any-hover: none) {
        .review__panel {
            bottom: 0;
            transition: bottom 0.7s ease 0s;
        }
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.1);
        z-index: 2;
    }

    &__image {
        -webkit-mask-image: url("@img/general/mockup/mask.png");
        mask-image: url("@img/general/mockup/mask.png");
        -webkit-mask-size: cover;
        mask-size: cover;
        max-width: rem(360);
        width: 100%;
    }

    &__panel {
        transition: bottom 0.7s ease 1.5s;
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        z-index: 4;
    }
}

.panel-review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.75);
    backdrop-filter: blur(80px);
    padding: rem(23) rem(9);
    border-radius: 32px;
    row-gap: rem(32);

    &__body {
        width: 100%;
        padding-bottom: rem(11);
        border-bottom: 1px solid rgba(84, 84, 88, 0.65);
    }

    &__text {
        font-weight: 600;
        font-size: rem(24);
        line-height: math.div(28, 26);
        letter-spacing: 0.35px;
        color: #ffffff;
        text-align: left;
        &:not(:last-child) {
            margin-bottom: em(27, 24);
        }
    }

    &__button {
        background: #71c67f;
        border-radius: em(24, 17);
        font-weight: 600;
        font-size: rem(17);
        line-height: math.div(22, 17);
        color: #ffffff;
        max-width: rem(312);
        width: 100%;
        margin: 0 auto;
        padding: rem(12) 0;
    }

    &__bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.small-logo {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    &__image {
        flex: 0 0 rem(29);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__selected-text {
        font-weight: 600;
        font-size: rem(11);
        line-height: math.div(13, 11);
        letter-spacing: 0.06px;
        color: rgba(235, 235, 245, 0.6);
    }

    &__text {
        font-weight: 600;
        font-size: rem(13);
        line-height: math.div(18, 13);
    }
}
.link-youtube {
    display: flex;
    align-items: center;
    column-gap: rem(5);
    height: rem(24);
    &__icon-image {
        flex: 0 0 rem(12);
    }

    &__text {
        font-weight: 500;
        font-size: rem(12);
        color: rgba(235, 235, 245, 0.6);
    }
    &__icon {
        font-size: rem(12);
    }
}

//
.shadow-element {
    border-radius: 50%;
    display: inline-block;
    filter: blur(150px);
    background-color: #15366c;
    position: absolute;
    z-index: -1;
}


.js-text-from{
    display: inline-block;
}