//====================================================================================================
.page {
    &__main-screen {
        @include adaptiveValue("padding-top", 100, 88);
        @include adaptiveValue("padding-bottom", 225, 80);
    }
}
.main-screen {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text-box {
        flex: 0 1 rem(571);
        min-width: rem(328);
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: em(38, 70);
        }
    }

    &__text {
        @include adaptiveValue("font-size", 26, 16, 1720, 375);
        line-height: math.div(31, 26);
        &:not(:last-child) {
            margin-bottom: em(207, 26);
        }
    }

    &__button {
    }

    &__image {
        flex: 0 1 rem(744);
        > img {
            width: 100%;
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(41);
        }
    }
}

//====================================================================================================

.page {
    &__about {
        @include adaptiveValue("padding-bottom", 210, 89);
    }
}
.about {
    &__container {
        max-width: rem(1850);
        position: relative;
    }

    &__sub-title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(125, 50);
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(30);
        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }
    }

    &__map {
        flex: 0 1 100%;
        max-width: rem(955);
        @media (max-width: $tablet) {
            flex: none;
        }
    }

    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 32, 20);
        line-height: math.div(39, 32);
        color: #eadede;
        flex: 0 1 rem(685);
        @media (max-width: $tablet) {
            flex: none;
            margin-bottom: rem(100);
        }
    }
    &__shadow-element {
        width: percent(1032, 1720);
        height: percent(1032, 960);
        top: 0;
        left: 0;
        display: none;
    }
}

//

.page {
    &__possibilities {
        @include adaptiveValue("padding-bottom", 232, 94);
    }
}
.possibilities {
    &__container {
        position: relative;
    }

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(140, 50);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(60);
            }
        }
    }

    &__body {
    }
    &__list {
        @include adaptiveValue("padding-bottom", 121, 73);
        column-gap: rem(15);
        row-gap: rem(30);
        @media (max-width: em(700)) {
            justify-content: center;
        }
    }
    &__shadow-element {
        top: 70%;
        left: 10%;
        width: percent(996, 1720);
        height: percent(996, 1384);
    }
}

.slider-case {
    max-width: rem(1720);
    width: 100%;
    position: relative;
    padding-bottom: rem(80);
    // margin-bottom: rem(80);
    height: rem(589);
    @media (max-width: $mobileSmall) {
        height: rem(343);
    }

    &__wrapper {
    }

    &__slide {
        // height: 100%;
    }

    &__button-prev {
        display: block;
        width: rem(20);
        height: rem(20);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: rotate(180deg) translateX(calc(100% + 33px / 2));
    }

    &__button-next {
        display: block;
        width: rem(20);
        height: rem(20);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(calc(100% + 33px / 2));
    }
}

//

.page {
    &__stages {
        @include adaptiveValue("padding-bottom", 292, 80);
    }
}
.stages {
    &__container {
        position: relative;
    }

    &__body {
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &__text-box {
        flex: 0 1 percent(525, 1720);
        @media (max-width: $tablet) {
            flex: auto;
            // flex-direction: column;
        }
    }
    &__stages-block {
        flex: 0 1 percent(1090, 1720);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 70, 40, 998, 320);
        }
        @media (max-width: $tablet) {
            flex: auto;
        }
    }
    &__sub-title {
        font-weight: 600;
        @include adaptiveValue("font-size", 86, 32);
        line-height: em(104, 86);
        color: #e7ebf2;
        margin-bottom: em(58, 86);
        @media (max-width: $tablet) {
            @include adaptiveValue("margin-bottom", 70, 40, 998, 320);
        }
        &:not(:last-child) {
        }
    }
    &__button {
    }
    &__shadow-element {
        top: 0;
        right: 100%;
        width: percent(996, 1720);
        height: percent(996, 1072);
    }
}
.stages-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(15);
    min-width: rem(318);
    // max-width: rem(1090);
    // width: 100%;
    @media (max-width: $tablet) {
        column-gap: rem(58);
    }
    @media (max-width: $mobileSmall) {
        column-gap: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: rem(995);
        min-width: rem(104);
        width: 100%;
        row-gap: rem(20);
    }

    &__item {
        width: 100%;
        background: radial-gradient(100% 100% at 50.05% 0%, #204073 0%, rgba(32, 65, 119, 0) 100%), #1c2b4b;
        border-radius: 28px;
        padding: rem(33) rem(34);
        display: flex;
        align-items: center;
        column-gap: rem(20);
        &.active {
            .stages-block__icon {
                background-color: #5f9ff5;
            }
            .stages-block__number {
                color: #ffffff;
            }
            .stages-block__text {
                color: #fcfcfc;
            }
        }
    }

    &__icon {
        background-color: #1b2846;
        border-radius: 8px;
        flex: 0 0 rem(29);
        height: rem(29);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon-number {
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19, 16);
        color: #586079;
    }

    &__text {
        // width: 100%;
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(29, 24);
        color: #586079;
        @media (max-width: $tablet) {
            font-size: rem(20);
        }
    }

    &__pagination {
    }
}
.pagination-stages-block {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    &__item {
        width: rem(8);
        height: rem(8);
        border-radius: 50%;
        background-color: $mCBlue;
        &.active {
            background-color: #f5f1f8;
        }
    }
}

//

.page {
    &__reviews {
        @include adaptiveValue("padding-bottom", 235, 103);
    }
}
.reviews {
    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(120, 50);
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow-x: hidden;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__text-box {
        flex: 0 1 percent(798, 1720);
        @media (max-width: $tablet) {
            flex: 0;
        }
    }

    &__slider {
        flex: 0 1 percent(785, 1720);
        transform: translateX(97px);
        @media (max-width: $tablet) {
            flex: 0;
            min-width: 0;
            width: 750px;
        }
    }
}

.text-box-reviews {
    font-family: "Inter";
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 12);
    line-height: math.div(22, 18);
    color: #71c67f;
    &__info {
        &:not(:last-child) {
            margin-bottom: em(25, 18);
        }
    }
    &__text {
        font-weight: 400;
        @include adaptiveValue("font-size", 32, 16);
        line-height: math.div(46, 32);
        color: #fcfcfc;
        &:not(:last-child) {
            margin-bottom: em(28, 32);
        }
    }
    &__date {
    }
}
.reviews-slider {
    padding: rem(30);
    &__wrapper {
    }

    &__slide {
        transition: transform 0.4s ease 0s;
    }
    &__slide.swiper-slide-next {
        transform: scale(0.86);
        // translateX(-127px)
    }

    &__button-prev {
    }

    &__button-next {
    }
    &__pagination {
    }
}

.reviews-slider-controls {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(270);
    width: 100%;
    min-width: rem(200);
    transform: translateX(-50%);
    &__button-next {
        width: rem(40);
        height: rem(40);
        background-color: rgba($color: #fff, $alpha: 0.3);
        border-radius: 50%;
    }
    &__button-prev {
        width: rem(40);
        height: rem(40);
        background-color: rgba($color: #fff, $alpha: 0.3);
        transform: rotate(180deg);
        border-radius: 50%;
    }
    &__pagination {
        top: 0;
        left: 50%;
        font-weight: 400;
        font-size: rem(40);
        line-height: math.div(56, 40);
        color: #fcfcfc;
    }
}

//
.page {
    &__order-form {
        @include adaptiveValue("padding-bottom", 132, 79);
    }
}
.order-form {
    &__container {
        text-align: center;
        position: relative;
    }

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(32, 50);
        }
    }

    &__text {
        font-family: "Inter";
        font-weight: 700;
        @include adaptiveValue("font-size", 38, 16);
        line-height: math.div(46, 38);
        color: #c3cde1;
        &:not(:last-child) {
            margin-bottom: em(85, 38);
        }
    }

    &__form {
        // display: flex;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: rem(29);
        }
    }
    &__social-list {
        margin: 0 auto;
        column-gap: rem(20);
    }
    &__shadow-element {
        top: 0;
        right: 90%;
        width: percent(932, 1720);
        height: percent(932, 824);
    }
}
