//====================================================================================================
.page {
    &__main-screen {
        @include adaptiveValue("padding-top", 100, 88);
        @include adaptiveValue("padding-bottom", 242, 80);
    }
}
.main-screen {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text-box {
        flex: 0 1 rem(571);
        min-width: rem(328);
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: em(38, 70);
        }
    }

    &__text {
        @include adaptiveValue("font-size", 26, 16, 1720, 375);
        line-height: math.div(31, 26);
        &:not(:last-child) {
            margin-bottom: em(207, 26);
        }
    }

    &__button {
    }

    &__image {
        flex: 0 1 rem(744);
        > img {
            width: 100%;
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(41);
        }
    }
}

//====================================================================================================

.page {
    &__about {
        @include adaptiveValue("padding-bottom", 234, 89);
    }
}
.about {
    &__container {
        max-width: rem(1850);
    }

    &__sub-title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(125, 50);
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }
    }

    &__text-box {
    }

    &__map {
    }

    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 32, 20);
        line-height: math.div(39, 32);
        color: #eadede;
        flex: 0 1 rem(685);
        @media (max-width: $tablet) {
            flex: none;
        }
    }
}

//

.page {
    &__possibilities {
        @include adaptiveValue("padding-bottom", 243, 94);
    }
}
.possibilities {
    &__container {
    }

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(150, 50);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(60);
            }
        }
    }

    &__body {
    }
    &__list {
        @include adaptiveValue("padding-bottom", 121, 73);
        column-gap: rem(15);
        row-gap: rem(30);
        @media (max-width: em(700)) {
            justify-content: center;
        }
    }
}

.slider-case {
    max-width: rem(1720);
    width: 100%;
    position: relative;
    padding-bottom: rem(80);
    // margin-bottom: rem(80);
    height: rem(589);
    @media (max-width: $mobileSmall) {
        height: rem(343);
    }

    &__wrapper {
    }

    &__slide {
        // height: 100%;
    }

    &__button-prev {
        display: block;
        width: rem(20);
        height: rem(20);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: rotate(180deg) translateX(calc(100% + 33px / 2));
    }

    &__button-next {
        display: block;
        width: rem(20);
        height: rem(20);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(calc(100% + 33px / 2));
    }
}
